@use "../abstracts" as *;

.menu {
  display: flex;
  gap: 1rem;
  position: relative;
  height: 15rem;
  width: 100vw;
  @include desktop {
    width: 100%;
    padding: 0 $desktop-spacing;
  }
  &__wrapper {
    position: absolute;
    left: 0;
    top: 0;
    @include size(inherit);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 12rem;
    grid-auto-rows: 14rem;
    overflow-x: scroll;
    gap: 2rem;
    padding: 0 $mobile-spacing;
    &::-webkit-scrollbar {
      display: none;
    }
    @include tablet {
      overflow-x: unset;
      grid-auto-columns: 1fr;
    }
    @include desktop {
      position: static;
      grid-auto-columns: 15rem;
      grid-auto-rows: 17rem;
      gap: 3vw;
      justify-content: space-around;
    }
  }

  &__item {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $trinary-bg-color;
    border-radius: 0.5rem;
    @include desktop {
    }

    &:hover {
      background-color: $secondary-color;
      color: $trinary-text-color;
      transition: all 0.2s ease;
    }

    .icon {
      background-color: $primary-bg-color;
      @include size(5rem);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: $primary-text-color;
      img {
        width: 3rem;
      }
    }

    .name {
      margin-top: 1.5rem;
      font-weight: bold;
      font-size: 1.4rem;
      text-transform: capitalize;
      @include desktop {
        margin-top: 2rem;
      }
    }
  }
}
