@use "../abstracts" as *;

.choices {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 80%;
  text-transform: capitalize;
  font-weight: bold;
  @include tablet {
    width: 40%;
    font-size: clamp(1.6rem, 10vw, 1.8rem);
  }
  @include desktop {
    width: 30%;
  }
  &__choice {
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
      color: $primary-color;
    }
  }
}

.list {
  &__item {
  }
}
