@use "../abstracts" as *;

.choices {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 80%;
  text-transform: capitalize;
  font-weight: bold;
  @include tablet {
    width: 40%;
    font-size: clamp(1.6rem, 10vw, 1.8rem);
  }
  @include desktop {
    width: 30%;
  }
  &__choice {
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
      color: $primary-color;
    }
  }
}

.food {
  --image-size: 15rem;
  --half-size: calc(var(--image-size) / 2);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  row-gap: calc(var(--half-size) + 2rem);
  width: 100%;
  padding: 0 $mobile-spacing;
  margin-top: 8rem;
  @include tablet {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5rem;
    padding: 0 $tablet-spacing;
  }
  @include desktop {
    grid-template-columns: repeat(5, 1fr);
    column-gap: 4rem;
    row-gap: calc(var(--half-size) + 5rem);
    padding: 0 $desktop-spacing;
  }

  .card {
    position: relative;
    border: 1px solid darken($trinary-bg-color, 5%);
    padding: 1rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    padding-top: calc(var(--half-size) + 1rem);
    @include desktop {
      border-radius: 1.5rem;
    }

    &__img {
      position: absolute;
      top: calc(0rem - var(--half-size));
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
      background-color: grey;
      @include size(var(--image-size));
    }

    &__tag {
      margin: 0.5rem 0;
      width: -moz-fit-content;
      width: fit-content;
      color: $secondary-color;
      background-color: rgba($secondary-color, 0.3);
      font-weight: 600;
      font-size: 1.3rem;
      border-radius: 2rem;
      padding: 0.5rem 1rem;
    }

    &__name {
      font-weight: bold;
      text-transform: capitalize;
    }

    &__more {
      display: flex;
      gap: 1rem;
      font-size: 1.4rem;
      .rating {
        gap: 0.5rem;
        display: flex;
        align-items: center;
        &:after {
          content: "";
          @include size(0.5rem);
          background-color: $primary-text-color;
          display: inline-block;
          border-radius: 50%;
          margin-left: 1rem;
        }
        .star {
          color: $yellow;
        }
      }

      .period {
      }
    }

    &__price {
      display: flex;
      gap: 0.5rem;
      align-items: flex-end;
      .old {
        font-size: 1.4rem;
        text-decoration: line-through;
        opacity: 0.6;
      }

      .new {
        font-weight: 600;
      }
    }

    &__order {
      border-radius: 2rem;
      border: 1px solid #dadada;
      background-color: transparent;
      padding: 0.5rem;
      width: 80%;
      align-self: center;
      margin-top: 1rem;
      transition: all 0.2s ease;
      outline: none;
      cursor: pointer;
      @include tablet {
        width: 60%;
      }
      &:hover {
        background-color: $secondary-color;
        color: white;
      }
    }
  }
}
