@use "../abstracts" as *;


.section {
  display: flex;
  gap: 4rem;
  flex-direction: column;
  align-items: center;
  &__title {
    text-transform: capitalize;
    position: relative;
    width: fit-content;
    font-size: 2.2rem;
    font-weight: bold;

    &:after {
      content: "";
      height: 0.4rem;
      width: 50%;
      position: absolute;
      top: 120%;
      left: 50%;
      transform: translateX(-50%);
      background-color: $secondary-color;
    }
  }
}