@use "shared" as *;

.about {
  text-align: center;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  padding: 0 $mobile-spacing;
  @include tablet {
    width: 60%;
    margin: 0 auto;
  }
  @include desktop {
    padding: 0 $desktop-spacing;
  }
  h1 {
    font-size: clamp(3rem, 5vw, 5rem);
  }

  p {
    font-weight: 600;
  }

  a {
    text-decoration: none;
    color: white;
    background-color: $secondary-color;
    width: 70%;
    border-radius: 5rem;
    padding: 1rem;
    margin-top: 2rem;
    transition: all 0.2s ease;
    &:hover {
      background-color: $primary-color;
    }

    @include tablet {
      width: 50%;
    }
    @include desktop {
      width: 40%;
    }
  }
}
