@use "shared" as *;

.home {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @include tablet {
    gap: 4rem;
  }
  @include desktop {
    gap: 6rem;
  }
}

.intro {
  display: flex;
  padding: 0 5rem;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @include desktop {
    flex-direction: row;
    text-align: left;
    padding: 0 $desktop-spacing;
    gap: 20%;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    @include tablet {
      margin: 0 15rem;
    }
    @include desktop {
      flex-basis: 60%;
      margin: 0;
      align-items: flex-start;
    }

    .moto {
      text-transform: capitalize;
      font-size: clamp(3.5rem, 10vw, 4.5rem);
      font-weight: bold;
    }

    .more {
      font-weight: 600;
    }

    .btn {
      cursor: pointer;
      margin-top: 1rem;
      padding: 1rem;
      width: 60%;
      text-transform: capitalize;
      font-weight: 600;
      border-radius: 5rem;
      color: $trinary-text-color;
      background-color: $primary-color;
      text-align: center;
      transition: all 0.2s ease;
      &:hover {
        background-color: darken($primary-color, 2%);
      }

      @include tablet {
        width: 40%;
      }
    }
  }

  .pic {
    height: 20rem;
    width: 100%;
    background-color: grey;
    @include desktop {
      height: 30rem;
    }
  }
}

.section {
  display: flex;
  gap: 4rem;
  flex-direction: column;
  align-items: center;
  &__title {
    text-transform: capitalize;
    position: relative;
    width: fit-content;
    font-size: 2.2rem;
    font-weight: bold;

    &:after {
      content: "";
      height: 0.4rem;
      width: 50%;
      position: absolute;
      top: 120%;
      left: 50%;
      transform: translateX(-50%);
      background-color: $secondary-color;
    }
  }
}
