$primary-text-color: #252c2e;
$secondary-text-color: #555555;

$primary-bg-color: #fff;
$secondary-bg-color: #23212a;
$trinary-bg-color: #ebf9fc;

$primary-color: #f64555;
$secondary-color: #ff6360;


$mobile-padding: 1rem;
