$primary-text-color: #252c2e;
$secondary-text-color: #555555;
$trinary-text-color: #fff;

$primary-bg-color: #fff;
$secondary-bg-color: #23212a;
$trinary-bg-color: #ebf9fc;

$primary-color: #f64555;
$secondary-color: #ff6360;

$yellow: #f69f53;

$mobile-spacing: 2rem;
$tablet-spacing: 5%;
$desktop-spacing: 8%;
